
<h1 class="mx-2 mb-5 d-flex justify-content-center text-success">Ingresa un producto</h1>
<form class="mt-5 d-flex justify-content-center" action="/productos" method="POST">
            <label for="title">Titulo</label>
            <input class="mx-3" type="text" name="nombre">
            <label for="price">Precio</label>
            <input class="mx-3" type="number" name="precio">
            <label for="url">Url</label>
            <input class="mx-3" type="text" name="url">
            <input type="submit" value="Subir">
    </form>